{{ form_start(form, {
	'attr': {'class': 'form-sm'},
}) }}
	<div class="form-outline mb-4">
		{{ form_widget(form.password, {
			'attr': {'class': 'form-control'},
		}) }}
		{{ form_label(form.password, 'Nouveau mot de passe', {
			'label_attr': {'class': 'form-label'}
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.password) }}
	</div>

	<div class="form-outline mb-4">
		{{ form_widget(form.confirm_password, {
			'attr': {'class': 'form-control'},
		}) }}
		{{ form_label(form.confirm_password, 'Répétez le mot de passe', {
			'label_attr': {'class': 'form-label'}
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.confirm_password) }}
	</div>

	<button type="submit" class="btn btn-main btn-block">Enregistrer</button>

{{ form_end(form) }}