{% extends 'base.html.twig' %}

{% block title %}Commande {{ order.reference }}{% endblock %}

{% block stylesheets %}
    <link href="/resources/css/orders.css" rel="stylesheet"/>
{% endblock %}

{% block body %}
    <div class="order">
        <h1 class="title">Commande {{ order.reference }}</h1>
		<h2 class="date">Le {{ order.date|date("d/m/Y") }}</h2>

		<table class="table">
            <thead>
                <tr>
                    <th>Produit</th>
                    <th>Quantité</th>
                    <th>Prix unitaire</th>
                </tr>
            </thead>
            <tbody>
            {% for item in order.items %}
                <tr>
                    <td>
						<a href="{{ path('product_show', {id: item.product.id}) }}">
							{{ item.product.title }}
						</a>
					</td>
                    <td>{{ item.quantity|number_format(0, ',', '.') }}</td>
                    <td>{{ item.unitPrice|number_format(2, ',', '.') }}€</td>
                </tr>
            {% else %}
                <tr>
                    <td colspan="3">Aucun produit</td>
                </tr>
            {% endfor %}
				<tr class="category-price-row">
                    <td colspan="2">Frais de port</td>
                    <td>{{ order.shippingPrice > 0 ? order.shippingPrice|number_format(2, ',', '.') : 'Offerts' }}{{ order.shippingPrice > 0 ? '€' : '' }}</td>
                </tr>
			    <tr class="total-price-row">
                    <td colspan="2">Total</td>
                    <td>{{ order.totalPrice|number_format(2, ',', '.') }}€</td>
                </tr>
            </tbody>
        </table>

    </div>
{% endblock %}
