{{ form_start(form) }}
    <div class="form-outline mb-4">
		{{ form_widget(form.title, {
			'attr': {'class': 'form-control'},
		}) }}
		{{ form_label(form.title, "Titre", {
			'label_attr': {'class': 'form-label'}
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.title) }}
	</div>

    <div class="form-outline mb-4">
		{{ form_widget(form.image, {
			'attr': {'class': 'form-control'},
		}) }}
		{{ form_label(form.image, "URL de l'image", {
			'label_attr': {'class': 'form-label'}
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.image) }}
	</div>

    <div class="form-outline mb-4">
		{{ form_widget(form.price, {
			'attr': {'class': 'form-control'},
		}) }}
		{{ form_label(form.price, "Prix", {
			'label_attr': {'class': 'form-label'}
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.price) }}
	</div>

    <div class="form-outline mb-4">
		{{ form_widget(form.quantity, {
			'attr': {'class': 'form-control'},
		}) }}
		{{ form_label(form.quantity, "Quantité", {
			'label_attr': {'class': 'form-label'}
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.quantity) }}
	</div>

    <div class="mb-4">
    	{{ form_label(form.category, "Catégorie", {
			'label_attr': {'class': 'form-label'}
		}) }}
		{{ form_widget(form.category, {
			'attr': {'class': 'form-control'},
		}) }}
	</div>
	<div class="field-error">
		{{ form_errors(form.category) }}
	</div>

    <button class="btn btn-primary mb-2">{{ button_label|default('Créer') }}</button>
{{ form_end(form) }}
